<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178672219756-8i9ui5vp700kj7hra4mdallr1bu6nea3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178672219756-8i9ui5vp700kj7hra4mdallr1bu6nea3</string>
	<key>API_KEY</key>
	<string>AIzaSyAITZiTwAdEiaonJG_1FK3NSw4f4AqZr0I</string>
	<key>GCM_SENDER_ID</key>
	<string>178672219756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pomodolo</string>
	<key>PROJECT_ID</key>
	<string>pomo-58355</string>
	<key>STORAGE_BUCKET</key>
	<string>pomo-58355.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178672219756:ios:b1e91135e1c9d58cb20a49</string>
</dict>
</plist>